<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated layers -->
      <package
            uri="http://www.eclipse.org/papyrus/infra/gmfdiag/layers"
            class="org.eclipse.papyrus.internal.infra.gmfdiag.layers.model.layers.LayersPackage"
            genModel="model/layers.genmodel"/>
   </extension>

  
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated layersconfig -->
      <package
            uri="http://www.eclipse.org/papyrus/infra/gmfdiag/layersconfig"
            class="org.eclipse.papyrus.internal.infra.gmfdiag.layers.configmodel.layersconfig.LayersConfigPackage"
            genModel="model/layersconfig.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="org.eclipse.papyrus.internal.infra.gmfdiag.layers.model.layers.impl.custom.CustomLayersFactory"
            uri="http://www.eclipse.org/papyrus/infra/gmfdiag/layers">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="org.eclipse.papyrus.internal.infra.gmfdiag.layers.configmodel.layersconfig.impl.custom.CustomLayersConfigFactory"
            uri="http://www.eclipse.org/papyrus/infra/gmfdiag/layersconfig">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.papyrus.internal.infra.gmfdiag.layers.model.resource.LayersModelResourceFactory"
            type="layers">
      </parser>
   </extension>

</plugin>
