<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Layers - Oxygen" sequenceNumber="1535530115">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ui" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.notation" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.notation.edit" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.notation.providers" version="0.0.0"/>
      <unit id="org.junit" version="0.0.0"/>
      <unit id="org.eclipse.uml2.uml" version="0.0.0"/>
      <unit id="org.eclipse.uml2.common.edit" version="0.0.0"/>
      <unit id="org.eclipse.emf" version="0.0.0"/>
      <unit id="org.eclipse.uml2.uml.edit" version="0.0.0"/>
      <unit id="org.eclipse.emf.databinding.edit" version="0.0.0"/>
      <unit id="org.eclipse.emf.query.ocl" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.infra.core" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.infra.gmfdiag.common" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.infra.emf.diagram.common" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.views.modelexplorer" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.infra.gmfdiag.hyperlink" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.infra.gmfdiag.css" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.infra.gmfdiag.css.properties" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.infra.gmfdiag.css.model" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.infra.gmfdiag.css.model.edit" version="0.0.0"/>
      <repository location="http://download.eclipse.org/releases/photon/"/>
    </location>
  </locations>
</target>
