<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 Copyright (c) 2019 CEA LIST, and others.

 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License 2.0
 which accompanies this distribution, and is available at
 https://www.eclipse.org/legal/epl-2.0/

 SPDX-License-Identifier: EPL-2.0

 Contributors:
   CEA LIST - Initial API and implementation
-->

<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="org.eclipse.papyrus.gitlight.git.share.project.command"
               icon="platform:/plugin/org.eclipse.papyrus.gitlight.git.ui/resources/icons/shareProject.png"
               label="%activate_track_changes_label"
               style="push"
               tooltip="%activate_track_changes_description">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.gitlight.git.isEnabled">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.gitlight.git.isSharedProject"
                        value="false">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.gitlight.git.create.contribution.command"
               icon="platform:/plugin/org.eclipse.papyrus.gitlight.git.ui/resources/icons/branch.png"
               label="%create_contribution_label"
               style="push"
               tooltip="%create_contribution_description">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.papyrus.gitlight.git.isEnabled">
                    </test>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.papyrus.gitlight.git.isSharedProject"
                          value="true">
                    </test>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.gitlight.git.update.contribution.command"
               icon="platform:/plugin/org.eclipse.papyrus.gitlight.git.ui/resources/icons/branch.png"
               label="%update_contribution_label"
               style="push"
               tooltip="%update_contribution_description">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.papyrus.gitlight.git.isEnabled">
                    </test>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.papyrus.gitlight.git.isSharedProject"
                          value="true">
                    </test>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.papyrus.gitlight.git.canUpdateContribution"
                          value="true">
                    </test>
               </iterate>
            </visibleWhen>
         </command>
         <separator
               name="org.eclipse.papyrus.gitlight.git.ui.checkout.separator">
         </separator>
         <command
               commandId="org.eclipse.papyrus.gitlight.git.get.base.command"
               icon="platform:/plugin/org.eclipse.papyrus.gitlight.git.ui/resources/icons/getBase.png"
               label="%get_base_label"
               style="push"
               tooltip="%get_base_description">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.gitlight.git.isEnabled">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.gitlight.git.isSharedProject"
                        value="true">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.gitlight.git.canCheckoutMaster"
                        value="true">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.gitlight.git.ui.contributions.view.popup">
         <command
               commandId="org.eclipse.papyrus.gitlight.git.compare.command"
               icon="platform:/plugin/org.eclipse.papyrus.gitlight.git.ui/resources/icons/compare.png"
               label="%compare_with_base_label"
               style="push"
               tooltip="%compare_with_base_description">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.jgit.lib.Ref">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.gitlight.git.get.contribution.command"
               icon="platform:/plugin/org.eclipse.papyrus.gitlight.git.ui/resources/icons/getContribution.png"
               label="%get_contribution_label"
               style="push"
               tooltip="%get_contribution_description">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.jgit.lib.Ref">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.gitlight.git.review.contribution.command"
               icon="platform:/plugin/org.eclipse.papyrus.gitlight.git.ui/resources/icons/reviewContribution.png"
               label="%review_contribution_label"
               style="push"
               tooltip="%review_contribution_description">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.jgit.lib.Ref">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.gitlight.git.contribute.review.command"
               icon="platform:/plugin/org.eclipse.papyrus.gitlight.git.ui/resources/icons/contributeReview.png"
               label="%contribute_review_label"
               style="push"
               tooltip="%contribute_review_description">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <instanceof
                           value="org.eclipse.jgit.lib.Ref">
                     </instanceof>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.papyrus.gitlight.git.canContributeReview"
                           value="true">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.gitlight.git.push.contribution.command"
               icon="platform:/plugin/org.eclipse.papyrus.gitlight.git.ui/resources/icons/accept.png"
               label="%push_contribution_label"
               style="push"
               tooltip="%push_contribution_description">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.jgit.lib.Ref">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.gitlight.git.reject.contribution.command"
               icon="platform:/plugin/org.eclipse.papyrus.gitlight.git.ui/resources/icons/reject.png"
               label="%reject_contribution_label"
               style="push"
               tooltip="%reject_contribution_description">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.jgit.lib.Ref">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.papyrus.gitlight.git.ui.handlers.ShareProjectHandler"
            description="%activate_track_changes_description"
            id="org.eclipse.papyrus.gitlight.git.share.project.command"
            name="%activate_track_changes_label">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.gitlight.git.ui.handlers.CreateModelContributionHandler"
            description="%create_contribution_description"
            id="org.eclipse.papyrus.gitlight.git.create.contribution.command"
            name="%create_contribution_label">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.gitlight.git.ui.handlers.UpdateModelContributionHandler"
            description="%update_contribution_description"
            id="org.eclipse.papyrus.gitlight.git.update.contribution.command"
            name="%update_contribution_label">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.gitlight.git.ui.handlers.PushContributionHandler"
            description="%push_contribution_description"
            id="org.eclipse.papyrus.gitlight.git.push.contribution.command"
            name="%push_contribution_label">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.gitlight.git.ui.handlers.CompareWithBaseHandler"
            description="%compare_with_base_description"
            id="org.eclipse.papyrus.gitlight.git.compare.command"
            name="%compare_with_base_label">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.gitlight.git.ui.handlers.RejectContributionHandler"
            description="%reject_contribution_description"
            id="org.eclipse.papyrus.gitlight.git.reject.contribution.command"
            name="%reject_contribution_label">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.gitlight.git.ui.handlers.ContributeReviewHandler"
            description="%contribute_review_description"
            id="org.eclipse.papyrus.gitlight.git.contribute.review.command"
            name="%contribute_review_label">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.gitlight.git.ui.handlers.ReviewContributionHandler"
            description="%review_contribution_description"
            id="org.eclipse.papyrus.gitlight.git.review.contribution.command"
            name="%review_contribution_label">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.gitlight.git.ui.handlers.GetContributionVersionHandler"
            description="%get_contribution_description"
            id="org.eclipse.papyrus.gitlight.git.get.contribution.command"
            name="%get_contribution_label">
      </command>
      <command
            defaultHandler="org.eclipse.papyrus.gitlight.git.ui.handlers.GetBaseVersionHandler"
            description="%get_base_description"
            id="org.eclipse.papyrus.gitlight.git.get.base.command"
            name="%get_base_label">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrus.gitlight.git.ui.testers.PapyrusFilePropertyTester"
            id="org.eclipse.papyrus.gitlight.git.papyrusfile.propertytester.isEnabled"
            namespace="org.eclipse.papyrus.gitlight.git"
            properties="isEnabled"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.eclipse.papyrus.gitlight.git.ui.testers.PapyrusProjectPropertyTester"
            id="org.eclipse.papyrus.gitlight.git.papyrusfile.propertytester.canCheckoutMaster"
            namespace="org.eclipse.papyrus.gitlight.git"
            properties="canCheckoutMaster"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.eclipse.papyrus.gitlight.git.ui.testers.PapyrusProjectPropertyTester"
            id="org.eclipse.papyrus.gitlight.git.papyrusfile.propertytester.isSharedProject"
            namespace="org.eclipse.papyrus.gitlight.git"
            properties="isSharedProject"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.eclipse.papyrus.gitlight.git.ui.testers.CanContributeReviewPropertyTester"
            id="org.eclipse.papyrus.gitlight.git.papyrusfile.propertytester.canContributeReview"
            namespace="org.eclipse.papyrus.gitlight.git"
            properties="canContributeReview"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.eclipse.papyrus.gitlight.git.ui.testers.ContributionPropertyTester"
            id="org.eclipse.papyrus.gitlight.git.papyrusfile.propertytester.canUpdateContribution"
            namespace="org.eclipse.papyrus.gitlight.git"
            properties="canUpdateContribution"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.papyrus.gitlight.git.ui.views.ContributionsView"
            icon="platform:/plugin/org.eclipse.papyrus.gitlight.git.ui/resources/icons/contributionsView.png"
            id="org.eclipse.papyrus.gitlight.git.ui.contributions.view"
            name="%contribution_view_label"
            restorable="true">
         <description>
            %contribution_view_description
         </description>
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            popupMenuId="org.eclipse.papyrus.gitlight.git.ui.contributions.view.popup"
            viewerId="org.eclipse.papyrus.gitlight.git.ui.contributions.view">
         <options>
            <property
                  name="org.eclipse.ui.navigator.hideCollapseAllAction"
                  value="true">
            </property>
         </options>
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.papyrus.gitlight.git.ui.contributions.*">
      </viewerContentBinding>
   </extension>
  
   
   
   
</plugin>
